.sectionHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  max-width: 1440px;
  height: 696px;
  background-image: url("../../assets/image/backGrHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerHome {
  width: 571px;
  height: 176px;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  justify-content: flex-start;
  /* transform: rotate(-180deg); */
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 67%;
  margin-bottom: 16px;
}

.titleBtn {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  margin-top: 40px;
  background-color: var(--button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}

.titleBtn:hover {
  background-color: var(--button-hover);
}
